/*--- variables ---- */
/*--- Mixins ---- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, Helvetica Neue, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body.noscroll {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
}
header .mobilenavbar {
  color: #fff;
  position: absolute;
  width: 60%;
  height: 100vh;
  background-color: #2c2222;
  z-index: 1;
  right: -450px;
  transition: right 0.2s ease;
  padding: 1rem;
}
header .mobilenavbar ion-icon {
  font-size: 35px;
  color: #fff;
}
header .mobilenavbar a {
  text-decoration: none;
  color: #fff;
}
header .mobilenavbar .mobilenavbarheadingsection {
  padding: 1rem 0.5rem;
  display: flex;
  height: 8rem;
  flex-direction: column;
  justify-content: end;
}
header .mobilenavbar .mobilenavbarheadingsection span:nth-child(1) {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}
header .mobilenavbar .mobilenavbarheadingsection span:nth-child(2) {
  display: block;
  font-size: 2.4rem;
}
header .mobilenavbar .mobilenavbarordersection {
  padding: 1.5rem 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-width: 1px 0px;
}
header .mobilenavbar .mobilenavbarcartsection {
  display: flex;
  gap: 0.5rem;
  padding: 1.5rem 0.5rem;
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-width: 1px 0px;
}
header .mobilenavbar .mobilenavbarcartsection div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .mobilenavbar .mobilenavbarcartsection div:nth-child(1) .cart-count {
  color: #f5905a;
}
header .mobilenavbar .mobilenavbarcartsection div:nth-child(2) {
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  header .mobilenavbar {
    display: none;
  }
}
header .mobilenavbar.active {
  right: 0;
}
header .overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #2c2222;
  z-index: 0;
  right: -620px;
  transition: right 0.2s ease;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
@media (min-width: 600px) {
  header .overlay {
    display: none;
  }
}
header .overlay.active {
  right: 0;
}

nav {
  padding: 0.5rem 2rem;
  background-color: #2c2222;
}
@media (max-width: 431px) {
  nav {
    padding: 0.5rem 0.5rem;
  }
}
nav ul {
  height: 4rem;
  display: flex;
  align-items: center;
  list-style: none;
  color: #fff;
}
nav ul .navlogoli {
  flex: 2;
}
nav ul .navlogoli div {
  display: flex;
  align-items: center;
}
nav ul .navlogoli img {
  height: 3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}
@media (max-width: 431px) {
  nav ul .navlogoli img {
    height: 2.7rem;
    margin-left: 0.2rem;
  }
}
nav ul .navsearchsection {
  display: flex;
  padding: 0.7rem 0.5rem;
  justify-content: center;
  height: 100%;
  flex: 3;
}
nav ul .navsearchsection input {
  flex: 0 0 90%;
  border-radius: 7px 0px 0px 7px;
  border: none;
  padding: 7px;
}
@media (max-width: 768px) {
  nav ul .navsearchsection input {
    flex: 0 0 80%;
    max-width: 80%;
  }
}
nav ul .navsearchsection button {
  flex: 0 0 10%;
  border-radius: 0px 7px 7px 0px;
  border: none;
  background: rgb(247, 202, 0);
}
nav ul .navsearchsection button .navsearchicon {
  font-size: 1.5rem;
  --ionicon-stroke-width: 46px;
}
@media (max-width: 768px) {
  nav ul .navsearchsection button {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
nav ul .navcheckoutnumber {
  font-size: 1.5rem;
}
nav ul .navcheckoutnumber .cartitemnumber {
  color: rgb(26, 203, 156);
}
nav ul .navordersection {
  flex: 1;
  text-align: center;
}
nav ul .navordersection .navordersectionroute {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
nav ul .navordersection .navordersectionroute span:nth-child(1) {
  font-weight: 500;
  display: block;
}
nav ul .navordersection .navordersectionroute span:nth-child(2) {
  font-weight: 700;
  display: block;
  padding-left: 9px;
}
@media (max-width: 600px) {
  nav ul .navordersection {
    display: none;
  }
}
nav ul .navcartsection {
  flex: 1;
  text-align: center;
}
nav ul .navcartsection .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 35px;
}
nav ul .navcartsection a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
nav ul .navcartsection .navcartsectionmain {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul .navcartsection .navcartsectionmain div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul .navcartsection .navcartsectionmain div .cart-count {
  font-size: 1rem;
  color: #f5905a;
}
@media (max-width: 600px) {
  nav ul .navcartsection {
    display: none;
  }
}
nav ul .navmobilemenusection {
  flex: 1;
  text-align: center;
}
nav ul .navmobilemenusection ion-icon {
  font-size: 35px;
  color: #fff;
}
@media (min-width: 600px) {
  nav ul .navmobilemenusection {
    display: none;
  }
}

.productlistingsection {
  padding-top: 5rem;
  min-height: 100vh;
  background-color: #ffffff;
}

.productlistingcontainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 23rem;
  padding: 2rem 3rem;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1200px) {
  .productlistingcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .productlistingcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .productlistingcontainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

.productcards {
  height: 22rem;
  width: 15rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px grey;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}
.productcards .productimage {
  height: 30%;
  text-align: center;
}
.productcards .productimage img {
  height: 100%;
}
.productcards .productname {
  height: 5.5rem;
  padding: 0 0.5rem;
  padding-top: 0.7rem;
}
.productcards .productname span {
  display: inline-block;
  height: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2rem;
  max-height: 4.8rem;
}
@media (max-width: 992px) {
  .productcards .productname span {
    -webkit-line-clamp: 3;
    max-height: 3.6rem;
  }
}
.productcards .productstar {
  padding: 0.1rem 0.5rem;
}
.productcards .productstar .star {
  color: #f5905a;
  font-size: 1.7rem;
}
.productcards .productamount {
  padding: 0.1rem 0.5rem;
  font-weight: bold;
}
.productcards .productquantity {
  padding: 0.1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  color: #175917;
}
.productcards .productquantity .cartaddedtext .checkbox {
  font-size: 16px;
}
.productcards .productquantity .cartaddedtext .checkboxtext {
  font-weight: 700;
}
.productcards .productcartbutton {
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: center;
}
.productcards .productcartbutton button {
  font-weight: 400;
  padding: 0.7rem;
  width: 100%;
  background-color: rgb(247, 202, 0);
  border-radius: 16px;
  border: none;
}

/*--- Cart Page ---- */
.cartitemslistingsection {
  min-height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
}
.cartitemslistingsection .cartlistingheading {
  padding-left: 1rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
.cartitemslistingsection .cartitemsmain {
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}
@media (max-width: 768px) {
  .cartitemslistingsection .cartitemsmain {
    grid-template-columns: 1fr;
  }
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px grey;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem {
  padding: 1rem;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemheading {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(12, 114, 12);
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}
@media (max-width: 992px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails {
    padding: 1rem 0;
  }
}
@media (max-width: 768px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails {
    gap: 0.8rem;
  }
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount {
  width: 60%;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer {
  display: flex;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer img {
  height: 10rem;
  padding: 0.5rem;
}
@media (max-width: 992px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer img {
    height: 8rem;
  }
}
@media (max-width: 600px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer img {
    height: 7rem;
  }
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitemname {
  font-weight: 400;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitemmoney {
  font-weight: bold;
  color: rgb(189, 22, 22);
  margin-top: 1rem;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitemquantity {
  margin-top: 0.5rem;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitembuttons {
  display: flex;
}
@media (max-width: 600px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitembuttons {
    flex-direction: column;
    align-items: start;
  }
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitembuttons button {
  margin-top: 0.5rem;
  border: none;
  color: rgb(7, 183, 227);
  background: none;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitembuttons .deletebutton {
  margin-left: 1rem;
}
@media (max-width: 600px) {
  .cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemamount .cartitemamountcontainer .cartitembuttons .deletebutton {
    margin-left: 0;
  }
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemdelivery {
  width: 40%;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemdelivery .cartitemdeliveryheading {
  font-weight: bold;
  font-size: 1rem;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemdelivery .cartitemdeliveryoption {
  display: flex;
  gap: 0.5rem;
  padding: 0.3rem;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemdelivery .cartitemdeliveryoption .deliverytime {
  display: block;
  color: #175917;
  font-weight: bold;
}
.cartitemslistingsection .cartitemsmain .cartitemcontainer .cartitem .cartitemdetails .cartitemdelivery .cartitemdeliveryoption .deliveryamount {
  display: block;
  color: grey;
}
.cartitemslistingsection .cartitemsmain .cartsummary {
  padding: 1rem;
  height: 20rem;
  box-shadow: 0 0 10px grey;
}
.cartitemslistingsection .cartitemsmain .cartsummary .cardsummaryheading {
  font-size: 1.2rem;
  font-weight: bold;
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemamount {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemtaxamount {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemtotalamount {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(189, 22, 22);
  padding-top: 0.5rem;
  border-top: 1px solid rgb(222, 210, 210);
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemusepaypal {
  padding: 0.8rem 0;
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemusepaypal div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cartitemslistingsection .cartitemsmain .cartsummary .itemtotalsection {
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartitemslistingsection .cartitemsmain .cartsummary .cartorderbutton {
  padding: 0.8rem;
  width: 100%;
  background-color: rgb(247, 202, 0);
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/*--- Order Section ---*/
.ordermaincontainer {
  padding-top: 5rem;
  min-height: 100vh;
}
.ordermaincontainer .ordermainsection {
  padding: 4rem;
}
@media (max-width: 992px) {
  .ordermaincontainer .ordermainsection {
    padding: 4rem 3rem;
  }
}
@media (max-width: 768px) {
  .ordermaincontainer .ordermainsection {
    padding: 4rem 2rem;
  }
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection {
    padding: 4rem 1rem;
  }
}
.ordermaincontainer .ordermainsection .orderheading {
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.ordermaincontainer .ordermainsection .ordertitle {
  display: flex;
  padding: 1rem 0.5rem;
  background-color: rgb(248, 243, 243);
  border-radius: 5px 5px 0 0;
}
.ordermaincontainer .ordermainsection .ordertitle .orderdatesection {
  width: 20%;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .ordertitle .orderdatesection {
    width: 30%;
  }
}
.ordermaincontainer .ordermainsection .ordertitle .orderdateheading,
.ordermaincontainer .ordermainsection .ordertitle .orderdate,
.ordermaincontainer .ordermainsection .ordertitle .ordertotalheading,
.ordermaincontainer .ordermainsection .ordertitle .ordertotalamount,
.ordermaincontainer .ordermainsection .ordertitle .orderidheading,
.ordermaincontainer .ordermainsection .ordertitle .orderid {
  display: block;
}
.ordermaincontainer .ordermainsection .ordertitle .orderdateheading,
.ordermaincontainer .ordermainsection .ordertitle .ordertotalheading,
.ordermaincontainer .ordermainsection .ordertitle .orderidheading {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}
.ordermaincontainer .ordermainsection .ordertitle .ordertotal {
  width: 40%;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .ordertitle .ordertotal {
    width: 40%;
  }
}
.ordermaincontainer .ordermainsection .ordertitle .orderidsection {
  width: 40%;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .ordertitle .orderidsection {
    width: 30%;
  }
}
.ordermaincontainer .ordermainsection .orderitem {
  min-height: 12rem;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
}
.ordermaincontainer .ordermainsection .orderitem .orderitemimagesection {
  width: 20%;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .orderitem .orderitemimagesection {
    width: 30%;
  }
}
.ordermaincontainer .ordermainsection .orderitem .orderitemimagesection .orderitemimage {
  height: 5rem;
}
.ordermaincontainer .ordermainsection .orderitem .orderitemdetails {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .orderitem .orderitemdetails {
    width: 40%;
  }
}
.ordermaincontainer .ordermainsection .orderitem .orderitemdetails .orderitemname {
  font-weight: bold;
}
.ordermaincontainer .ordermainsection .orderitem .orderitembuyagain {
  width: 40%;
  text-align: center;
}
@media (max-width: 600px) {
  .ordermaincontainer .ordermainsection .orderitem .orderitembuyagain {
    width: 30%;
  }
}
.ordermaincontainer .ordermainsection .orderitem .orderitembuyagain .orderitembutton {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(247, 202, 0);
}

/*--- Media Quries ---- */
@media (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 11px;
  }
}