@use "variables";
@use "mixins";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  /*--- Media Quries ---- */
  //1200
  @include mixins.respond(xl) {
    font-size: 15px;
  }
  //992
  @include mixins.respond(lg) {
    font-size: 14px;
  }
  //768
  @include mixins.respond(md) {
    font-size: 13px;
  }
  //600
  @include mixins.respond(sm) {
    font-size: 11px;
  }
}

body {
  font-family: "Amazon Ember", Arial, "Helvetica Neue", Helvetica, sans-serif;
  &.noscroll {
    overflow: hidden;
  }
}

header {
  position: fixed;
  width: 100%;
  .mobilenavbar {
    color: #fff;
    position: absolute;
    width: 60%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 1;
    right: -450px;
    transition: right 0.2s ease;
    padding: 1rem;
    ion-icon {
      font-size: 35px;
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #fff;
    }

    @media (min-width: variables.$breakpoint-sm) {
      display: none;
    }
    &.active {
      right: 0;
    }
  }

  .mobilenavbarheadingsection {
    padding: 1rem 0.5rem;
    display: flex;
    height: 8rem;
    flex-direction: column;
    justify-content: end;

    span {
      &:nth-child(1) {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
      }
      &:nth-child(2) {
        display: block;
        font-size: 2.4rem;
      }
    }
  }
  .mobilenavbarordersection,
  .mobilenavbarcartsection {
    padding: 1.5rem 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-width: 1px 0px;
  }

  .mobilenavbarcartsection {
    display: flex;
    gap: 0.5rem;
    div {
      &:nth-child(1) {
        flex-direction: column;
        .cart-count {
          color: #f5905a;
        }
      }
      &:nth-child(2),
      &:nth-child(1) {
        @include mixins.align-center;
      }
    }
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 0;
    right: -620px;
    transition: right 0.2s ease;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    @media (min-width: variables.$breakpoint-sm) {
      display: none;
    }
    &.active {
      right: 0;
    }
  }
}

nav {
  padding: 0.5rem 2rem;
  background-color: #2c2222;
  @include mixins.respond(xsm) {
    padding: 0.5rem 0.5rem;
  }
  ul {
    height: 4rem;
    @include mixins.align-center;
    list-style: none;
    color: #fff;
    .navlogoli {
      flex: 2;
    }

    .navlogosection {
      @include mixins.align-center;
    }

    .navlogoimage {
      height: 3rem;
      margin-left: 1rem;
      margin-top: 1rem;
      @include mixins.respond(xsm) {
        height: 2.7rem;
        margin-left: 0.2rem;
      }
    }

    .navsearchsection {
      display: flex;
      padding: 0.7rem 0.5rem;
      justify-content: center;
      height: 100%;
      flex: 3;
      .navsearchbutton {
        flex: 0 0 10%;
        border-radius: 0px 7px 7px 0px;
        border: none;
        background: variables.$color-theme;
        .navsearchicon {
          font-size: 1.5rem;
          --ionicon-stroke-width: 46px;
        }
        @include mixins.respond(md) {
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
    }

    .navsearchinput {
      flex: 0 0 90%;
      border-radius: 7px 0px 0px 7px;
      border: none;
      padding: 7px;
      @include mixins.respond(md) {
        flex: 0 0 80%;
        max-width: 80%;
      }
    }

    .navcheckoutnumber {
      font-size: 1.5rem;
      .cartitemnumber {
        color: rgb(26, 203, 156);
      }
    }

    .navordersection {
      flex: 1;
      text-align: center;

      @media (max-width: variables.$breakpoint-sm) {
        display: none;
      }
    }

    .navordersectionroute {
      text-decoration: none;
      color: #fff;
      display: inline-block;
      span {
        &:nth-child(1) {
          font-weight: 500;
          display: block;
        }
        &:nth-child(2) {
          font-weight: 700;
          display: block;
          padding-left: 9px;
        }
      }
    }

    .navcartsection {
      flex: 1;
      text-align: center;
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        font-size: 35px;
      }

      a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
      }

      @media (max-width: variables.$breakpoint-sm) {
        display: none;
      }
    }
    .navcartsectionmain {
      @include mixins.align-justify-center;
      div {
        @include mixins.align-center;
        flex-direction: column;
        .cart-count {
          font-size: 1rem;
          color: #f5905a;
        }
      }
    }
    .navmobilemenusection {
      ion-icon {
        font-size: 35px;
        color: #fff;
      }
      flex: 1;
      text-align: center;
      @media (min-width: variables.$breakpoint-sm) {
        display: none;
      }
    }
  }
}

.productlistingsection {
  padding-top: 5rem;
  min-height: 100vh;
  background-color: #ffffff;
}

.productlistingcontainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 23rem;
  padding: 2rem 3rem;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  @include mixins.respond(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mixins.respond(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mixins.respond(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.productcards {
  height: 22rem;
  width: 15rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px grey;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  .productimage {
    height: 30%;
    text-align: center;
    img {
      height: 100%;
    }
  }
  .productname {
    height: 5.5rem;
    padding: 0 0.5rem;
    padding-top: 0.7rem;
    .producttitle {
      display: inline-block;
      height: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2rem;
      max-height: calc(1.2rem * 4);
      @include mixins.respond(lg) {
        -webkit-line-clamp: 3;
        max-height: calc(1.2rem * 3);
      }
    }
  }
  .productstar {
    padding: 0.1rem 0.5rem;
    .star {
      color: #f5905a;
      font-size: 1.7rem;
    }
  }
  .productamount {
    padding: 0.1rem 0.5rem;
    font-weight: bold;
  }
  .productquantity {
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #175917;
    .cartaddedtext {
      .checkbox {
        font-size: 16px;
      }
      .checkboxtext {
        font-weight: 700;
      }
    }
  }
  .productcartbutton {
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    button {
      font-weight: 400;
      padding: 0.7rem;
      width: 100%;
      background-color: rgb(247, 202, 0);
      border-radius: 16px;
      border: none;
    }
  }
}

/*--- Cart Page ---- */

.cartitemslistingsection {
  min-height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
  .cartlistingheading {
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .cartitemsmain {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    @include mixins.respond(md) {
      grid-template-columns: 1fr;
    }
    .cartitemcontainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0 0 10px grey;
      .cartitem {
        padding: 1rem;

        .cartitemheading {
          font-size: 1.3rem;
          font-weight: bold;
          color: rgb(12, 114, 12);
        }
        .cartitemdetails {
          display: flex;
          padding: 1rem;
          gap: 2rem;
          @include mixins.respond(lg) {
            padding: 1rem 0;
          }
          @include mixins.respond(md) {
            gap: 0.8rem;
          }
          .cartitemamount {
            width: 60%;
            .cartitemamountcontainer {
              display: flex;
              img {
                height: 10rem;
                padding: 0.5rem;
                @include mixins.respond(lg) {
                  height: 8rem;
                }
                @include mixins.respond(sm) {
                  height: 7rem;
                }
              }
              .cartitemname {
                font-weight: 400;
              }
              .cartitemmoney {
                font-weight: bold;
                color: rgb(189, 22, 22);
                margin-top: 1rem;
              }
              .cartitemquantity {
                margin-top: 0.5rem;
              }
              .cartitembuttons {
                display: flex;
                @include mixins.respond(sm) {
                  flex-direction: column;
                  align-items: start;
                }
                button {
                  margin-top: 0.5rem;
                  border: none;
                  color: rgb(7, 183, 227);
                  background: none;
                }
                .deletebutton {
                  margin-left: 1rem;
                  @include mixins.respond(sm) {
                    margin-left: 0;
                  }
                }
              }
            }
          }
          .cartitemdelivery {
            width: 40%;
            .cartitemdeliveryheading {
              font-weight: bold;
              font-size: 1rem;
            }
            .cartitemdeliveryoption {
              display: flex;
              gap: 0.5rem;
              padding: 0.3rem;
              .deliverytime {
                display: block;
                color: #175917;
                font-weight: bold;
              }
              .deliveryamount {
                display: block;
                color: grey;
              }
            }
          }
        }
      }
    }

    .cartsummary {
      padding: 1rem;
      height: 20rem;
      box-shadow: 0 0 10px grey;
      .cardsummaryheading {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .itemamount {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }
      .itemtaxamount {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }

      .itemtotalamount {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(189, 22, 22);
        padding-top: 0.5rem;
        border-top: 1px solid rgb(222, 210, 210);
      }

      .itemusepaypal {
        padding: 0.8rem 0;
        div {
          @include mixins.align-center;
          // display: flex;
          // align-items: center;
          gap: 0.5rem;
        }
      }

      .itemtotalsection {
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .cartorderbutton {
        padding: 0.8rem;
        width: 100%;
        background-color: variables.$color-theme;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }
}

/*--- Order Section ---*/

.ordermaincontainer {
  padding-top: 5rem;
  min-height: 100vh;
  .ordermainsection {
    padding: 4rem;
    @include mixins.respond(lg) {
      padding: 4rem 3rem;
    }
    @include mixins.respond(md) {
      padding: 4rem 2rem;
    }
    @include mixins.respond(sm) {
      padding: 4rem 1rem;
    }
    .orderheading {
      font-weight: bold;
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }
    $orderItemTitlePadding: 2rem;
    @include mixins.respond(lg) {
      $orderItemTitlePadding: 1rem;
    }
    @include mixins.respond(sm) {
      $orderItemTitlePadding: 1rem 0.5rem;
    }
    .ordercollection {
      border: 1px solid rgb(217, 213, 213);
      margin-top: 1rem;
    }
    .ordertitle {
      display: flex;
      padding: $orderItemTitlePadding;
      background-color: rgb(248, 243, 243);
      border-radius: 5px 5px 0 0;

      .orderdatesection {
        width: 20%;
        @include mixins.respond(sm) {
          width: 30%;
        }
      }
      .orderdateheading,
      .orderdate,
      .ordertotalheading,
      .ordertotalamount,
      .orderidheading,
      .orderid {
        display: block;
      }

      .orderdateheading,
      .ordertotalheading,
      .orderidheading {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.3rem;
      }

      .ordertotal {
        width: 40%;
        @include mixins.respond(sm) {
          width: 40%;
        }
      }
      .orderidsection {
        width: 40%;
        @include mixins.respond(sm) {
          width: 30%;
        }
      }
    }

    .orderitem {
      min-height: 12rem;
      padding: $orderItemTitlePadding;
      @include mixins.align-center;
      // display: flex;
      // align-items: center;
      .orderitemimagesection {
        width: 20%;
        @include mixins.respond(sm) {
          width: 30%;
        }
        .orderitemimage {
          height: 5rem;
        }
      }
      .orderitemdetails {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        font-size: 1.2rem;
        @include mixins.respond(sm) {
          width: 40%;
        }
        .orderitemname {
          font-weight: bold;
        }
      }
      .orderitembuyagain {
        width: 40%;
        text-align: center;
        @include mixins.respond(sm) {
          width: 30%;
        }
        .orderitembutton {
          padding: 0.5rem;
          border-radius: 5px;
          border: none;
          background-color: variables.$color-theme;
        }
      }
    }
  }
}
