/*--- variables ---- */

$buttonBg: rgb(243, 243, 11);
$themeBg: rgb(247, 202, 0);
$mobileScreenWidth: 600px;

/*--- Mixins ---- */

@mixin respond($breakpoint) {
  @if $breakpoint == xsm {
    @media (max-width: 431px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, Helvetica Neue, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

body.noscroll {
  overflow: hidden;
}

header {
  position: fixed;
  width: 100%;
  .mobilenavbar {
    color: #fff;
    position: absolute;
    width: 60%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 1;
    right: -450px;
    transition: right 0.2s ease;
    padding: 1rem;
    ion-icon {
      font-size: 35px;
      color: #fff;
    }
    a {
      text-decoration: none;
      color: #fff;
    }

    .mobilenavbarheadingsection {
      padding: 1rem 0.5rem;
      display: flex;
      height: 8rem;
      flex-direction: column;
      justify-content: end;

      span {
        &:nth-child(1) {
          display: block;
          font-size: 1.5rem;

          font-weight: 700;
        }
        &:nth-child(2) {
          display: block;
          font-size: 2.4rem;
        }
      }
    }
    .mobilenavbarordersection {
      padding: 1.5rem 0.5rem;
      font-size: 1.5rem;
      border: 1px solid #fff;
      border-width: 1px 0px;
    }

    .mobilenavbarcartsection {
      display: flex;
      gap: 0.5rem;
      padding: 1.5rem 0.5rem;
      font-size: 1.5rem;
      border: 1px solid #fff;
      border-width: 1px 0px;
      div {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
          .cart-count {
            color: #f5905a;
          }
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;
        }
      }
    }

    @media (min-width: $mobileScreenWidth) {
      display: none;
    }
  }
  .mobilenavbar.active {
    right: 0;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 0;
    right: -620px;
    transition: right 0.2s ease;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    @media (min-width: $mobileScreenWidth) {
      display: none;
    }
  }
  .overlay.active {
    right: 0;
  }
}

nav {
  padding: 0.5rem 2rem;
  background-color: #2c2222;
  @include respond(xsm) {
    padding: 0.5rem 0.5rem;
  }
  ul {
    height: 4rem;
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
    // li {
    .navlogoli {
      flex: 2;
      div {
        display: flex;
        align-items: center;
      }
      img {
        height: 3rem;
        margin-left: 1rem;
        margin-top: 1rem;
        @include respond(xsm) {
          height: 2.7rem;
          margin-left: 0.2rem;
        }
      }
    }

    .navsearchsection {
      display: flex;
      padding: 0.7rem 0.5rem;
      justify-content: center;
      height: 100%;
      flex: 3;
      input {
        flex: 0 0 90%;
        border-radius: 7px 0px 0px 7px;
        border: none;
        padding: 7px;
        @include respond(md) {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }
      button {
        flex: 0 0 10%;
        border-radius: 0px 7px 7px 0px;
        border: none;
        background: $themeBg;
        .navsearchicon {
          font-size: 1.5rem;
          --ionicon-stroke-width: 46px;
        }
        @include respond(md) {
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
    }

    .navcheckoutnumber {
      font-size: 1.5rem;
      .cartitemnumber {
        color: rgb(26, 203, 156);
      }
    }

    .navordersection {
      flex: 1;
      text-align: center;
      .navordersectionroute {
        text-decoration: none;
        color: #fff;
        display: inline-block;
        width: fit-content;
        span {
          &:nth-child(1) {
            font-weight: 500;
            display: block;
          }
          &:nth-child(2) {
            font-weight: 700;
            display: block;
            padding-left: 9px;
          }
        }
      }

      @media (max-width: $mobileScreenWidth) {
        display: none;
      }
    }

    .navcartsection {
      flex: 1;
      text-align: center;
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
        font-size: 35px;
      }

      a {
        text-decoration: none;
        color: #fff;
        display: inline-block;
      }

      .navcartsectionmain {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          .cart-count {
            font-size: 1rem;
            color: #f5905a;
          }
        }
      }
      @media (max-width: $mobileScreenWidth) {
        display: none;
      }
    }
    .navmobilemenusection {
      ion-icon {
        font-size: 35px;
        color: #fff;
      }
      flex: 1;
      text-align: center;
      @media (min-width: $mobileScreenWidth) {
        display: none;
      }
    }
    // }
  }
}

.productlistingsection {
  padding-top: 5rem;
  min-height: 100vh;
  background-color: #ffffff;
}

.productlistingcontainer {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 23rem;
  padding: 2rem 3rem;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  @include respond(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.productcards {
  height: 22rem;
  width: 15rem;
  background-color: #fff;
  box-shadow: 1px 1px 10px grey;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  .productimage {
    height: 30%;
    text-align: center;
    img {
      height: 100%;
    }
  }
  .productname {
    height: 5.5rem;
    padding: 0 0.5rem;
    padding-top: 0.7rem;
    span {
      display: inline-block;
      height: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2rem;
      max-height: calc(1.2rem * 4);
      @include respond(lg) {
        -webkit-line-clamp: 3;
        max-height: calc(1.2rem * 3);
      }
    }
  }
  .productstar {
    padding: 0.1rem 0.5rem;
    .star {
      color: #f5905a;
      font-size: 1.7rem;
    }
  }
  .productamount {
    padding: 0.1rem 0.5rem;
    font-weight: bold;
  }
  .productquantity {
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    color: #175917;
    .cartaddedtext {
      .checkbox {
        font-size: 16px;
      }
      .checkboxtext {
        font-weight: 700;
      }
    }
  }
  .productcartbutton {
    padding: 0.3rem 0.5rem;
    display: flex;
    justify-content: center;
    button {
      font-weight: 400;
      padding: 0.7rem;
      width: 100%;
      background-color: rgb(247, 202, 0);
      border-radius: 16px;
      border: none;
    }
  }
}

/*--- Cart Page ---- */

.cartitemslistingsection {
  min-height: 100vh;
  padding: 5rem 1rem 1rem 1rem;
  .cartlistingheading {
    padding-left: 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .cartitemsmain {
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    @include respond(md) {
      grid-template-columns: 1fr;
    }
    .cartitemcontainer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0 0 10px grey;
      .cartitem {
        padding: 1rem;

        .cartitemheading {
          font-size: 1.3rem;
          font-weight: bold;
          color: rgb(12, 114, 12);
        }
        .cartitemdetails {
          display: flex;
          padding: 1rem;
          gap: 2rem;
          @include respond(lg) {
            padding: 1rem 0;
          }
          @include respond(md) {
            gap: 0.8rem;
          }
          .cartitemamount {
            width: 60%;
            .cartitemamountcontainer {
              display: flex;
              img {
                height: 10rem;
                padding: 0.5rem;
                @include respond(lg) {
                  height: 8rem;
                }
                @include respond(sm) {
                  height: 7rem;
                }
              }
              .cartitemname {
                font-weight: 400;
              }
              .cartitemmoney {
                font-weight: bold;
                color: rgb(189, 22, 22);
                margin-top: 1rem;
              }
              .cartitemquantity {
                margin-top: 0.5rem;
              }
              .cartitembuttons {
                display: flex;
                @include respond(sm) {
                  flex-direction: column;
                  align-items: start;
                }
                button {
                  margin-top: 0.5rem;
                  // margin-left: 1rem;
                  border: none;
                  color: rgb(7, 183, 227);
                  background: none;
                }
                .deletebutton {
                  margin-left: 1rem;
                  @include respond(sm) {
                    margin-left: 0;
                  }
                }
              }
            }
          }
          .cartitemdelivery {
            width: 40%;
            .cartitemdeliveryheading {
              font-weight: bold;
              font-size: 1rem;
            }
            .cartitemdeliveryoption {
              display: flex;
              gap: 0.5rem;
              padding: 0.3rem;
              .deliverytime {
                display: block;
                color: #175917;
                font-weight: bold;
              }
              .deliveryamount {
                display: block;
                color: grey;
              }
            }
          }
        }
      }
    }

    .cartsummary {
      padding: 1rem;
      height: 20rem;
      box-shadow: 0 0 10px grey;
      .cardsummaryheading {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .itemamount {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }
      .itemtaxamount {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
      }

      .itemtotalamount {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(189, 22, 22);
        padding-top: 0.5rem;
        border-top: 1px solid rgb(222, 210, 210);
      }

      .itemusepaypal {
        padding: 0.8rem 0;
        div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }

      .itemtotalsection {
        height: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .cartorderbutton {
        padding: 0.8rem;
        width: 100%;
        background-color: $themeBg;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
      }
    }
  }
}

/*--- Media Quries ---- */
//1200
@include respond(xl) {
  html {
    font-size: 15px;
  }
}
//992
@include respond(lg) {
  html {
    font-size: 14px;
  }
}
//768
@include respond(md) {
  html {
    font-size: 13px;
  }
}
//600
@include respond(sm) {
  html {
    font-size: 11px;
  }
}
