/*--- variables ---- */

$buttonBg: rgb(243, 243, 11);
$themeBg: rgb(247, 202, 0);
$mobileScreenWidth: 600px;

/*--- Mixins ---- */

@mixin respond($breakpoint) {
  @if $breakpoint == xsm {
    @media (max-width: 431px) {
      @content;
    }
  } @else if $breakpoint == sm {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amazon Ember", Arial, Helvetica Neue, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

header {
  position: fixed;
  width: 100%;
  .mobilenavbar {
    color: #fff;
    position: absolute;
    width: 60%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 1;
    right: -450px;
    transition: right 0.2s ease;
    padding: 1rem;
    ion-icon {
      font-size: 35px;
      color: #fff;
    }

    .mobilenavbarheadingsection {
      padding: 1rem 0.5rem;
      display: flex;
      height: 8rem;
      flex-direction: column;
      justify-content: end;

      span {
        &:nth-child(1) {
          display: block;
          font-size: 1.5rem;

          font-weight: 700;
        }
        &:nth-child(2) {
          display: block;
          font-size: 2.4rem;
        }
      }
    }
    .mobilenavbarordersection {
      padding: 1.5rem 0.5rem;
      font-size: 1.5rem;
      border: 1px solid #fff;
      border-width: 1px 0px;
    }

    .mobilenavbarcartsection {
      display: flex;
      gap: 0.5rem;
      padding: 1.5rem 0.5rem;
      font-size: 1.5rem;
      border: 1px solid #fff;
      border-width: 1px 0px;
      div {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          align-items: center;
          .cart-count {
            color: #f5905a;
          }
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;
        }
      }
    }

    @media (min-width: $mobileScreenWidth) {
      display: none;
    }
  }
  .mobilenavbar.active {
    right: 0;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #2c2222;
    z-index: 0;
    right: -620px;
    transition: right 0.2s ease;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    @media (min-width: $mobileScreenWidth) {
      display: none;
    }
  }
  .overlay.active {
    right: 0;
  }
}

nav {
  padding: 0.5rem 2rem;
  background-color: #2c2222;
  @include respond(xsm) {
    padding: 0.5rem 0.5rem;
  }
  ul {
    height: 4rem;
    display: flex;
    align-items: center;
    list-style: none;
    color: #fff;
    li {
      &:nth-child(1) {
        flex: 2;
        div {
          display: flex;
          align-items: center;
        }
        img {
          height: 3rem;
          margin-left: 1rem;
          margin-top: 1rem;
          @include respond(xsm) {
            height: 2.7rem;
            margin-left: 0.2rem;
          }
        }
      }

      &:nth-child(2) {
        display: flex;
        padding: 0.7rem 0.5rem;
        justify-content: center;
        height: 100%;
        flex: 3;
        input {
          flex: 0 0 90%;
          border-radius: 7px 0px 0px 7px;
          border: none;
          padding: 7px;
          @include respond(md) {
            flex: 0 0 80%;
            max-width: 80%;
          }
        }
        button {
          flex: 0 0 10%;
          border-radius: 0px 7px 7px 0px;
          border: none;
          background: $themeBg;
          .navsearchicon {
            font-size: 1.5rem;
            --ionicon-stroke-width: 46px;
          }
          @include respond(md) {
            flex: 0 0 20%;
            max-width: 20%;
          }
        }
      }

      &:nth-child(3) {
        flex: 1;
        text-align: center;
        span {
          &:nth-child(1) {
            font-weight: 500;
            display: block;
          }
          &:nth-child(2) {
            font-weight: 700;
            display: block;
            padding-left: 9px;
          }
        }
        @media (max-width: $mobileScreenWidth) {
          display: none;
        }
      }

      &:nth-child(4) {
        flex: 1;

        .material-symbols-outlined {
          font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
          font-size: 35px;
        }
        .navcartsectionmain {
          display: flex;
          align-items: center;
          justify-content: center;
          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            .cart-count {
              font-size: 1rem;
              color: #f5905a;
            }
          }
        }

        @media (max-width: $mobileScreenWidth) {
          display: none;
        }
      }
      &:nth-child(5) {
        ion-icon {
          font-size: 35px;
          color: #fff;
        }
        flex: 1;
        text-align: center;
        @media (min-width: $mobileScreenWidth) {
          display: none;
        }
      }
    }
  }
}

main {
  min-height: 120vh;
  background-color: #fff;
}

/*--- Media Quries ---- */
//1200
@include respond(xl) {
  html {
    font-size: 15px;
  }
}
//992
@include respond(lg) {
  html {
    font-size: 14px;
  }
}
//768
@include respond(md) {
  html {
    font-size: 13px;
  }
}
//600
@include respond(sm) {
  html {
    font-size: 11px;
  }
}
